<div
  class="sm:w-8/12 md:w-4/12 md:min-w-72 p-5 border-gray-200 bg-gray-50 border rounded-xl mx-auto mt-10"
>
  <h3 class="text-3xl text-center font-semibold py-5 text-gray-700">
    Sign in to Fit.io
  </h3>

  <form [formGroup]="loginForm" class="flex flex-col">
    <div class="flex flex-col mt-4 mb-1">
      <label for="email" class="text-gray-500">Email address</label>
      <input
        formControlName="email"
        class="p-2 border border-gray-300 rounded mt-1"
        type="text"
      /><span
        *ngIf="
          loginForm.hasError('required', 'email') &&
          loginForm.controls['email'].dirty
        "
        class="text-red-500"
        >Enter your email</span
      >
      <span *ngIf="loginForm.hasError('email', 'email')" class="text-red-500"
        >Invalid email address</span
      >
    </div>
    <div class="flex flex-col mt-4 mb-1 relative">
      <a routerLink="/password-reset" class="absolute right-0 text-indigo-600"
        >Forgot password?</a
      >
      <label for="password" class="text-gray-500">Password</label>
      <input
        formControlName="password"
        class="p-2 border border-gray-300 rounded mt-1"
        type="password"
      /><span
        *ngIf="
          loginForm.hasError('required', 'password') &&
          loginForm.controls['password'].dirty
        "
        class="text-red-500"
        >Enter your password</span
      >
    </div>
    <button
      [disabled]="loginForm.invalid"
      [class.disabled]="loginForm.invalid"
      (click)="login()"
      class="bg-indigo-500 p-2 rounded mt-3 text-white"
    >
      Sign in
    </button>
  </form>
  <div class="flex justify-center mt-5">
    <span class="text-gray-700">New to Fit.io?</span>
    <a routerLink="/register" class="text-indigo-600 ml-2 cursor-pointer"
      >Create an account</a
    >
  </div>
</div>
